
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pacific' sans-serif;
}
.pagina1{
    background-image: url('imagem/pantera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.pagina1  a{
    width: 10vw;
}
nav{
    background-color: #050505e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;  
    position: fixed;
}

span{
    color: red;
}
nav ul  li{
    display: inline-block;
    padding: 10px 20px;
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-transform: capitalize;
    
}
nav a:hover{
    color: red; 
}
.main{
    position: absolute;
    top: 40%;
    left: 15%;
}
.relogio{
    display:flex;
    justify-content: space-around;
    height: 50px; 
    border-radius: 10px;
    box-shadow:  0px  2px  2px;
    color: aliceblue;
}
.relogio div {
    display: flex;
    margin: 5px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    
}
.relogio span {
    font-weight: bolder;
    font-size:  15px;
    
}
.relogio span.tempo {
    font-size: 10px;
    color: aliceblue;
}

h1{
    color: white;
   font-size: 4vw;
    text-transform : capitalize;
}
h2{
    color: white;
    margin: 10px 0px 10px;
    font-size: 3.5vw;
    text-align: center;
    text-transform : capitalize;
}
h3{
    color: white;
    margin: 20px 0px 20px;
    font-size: 2.4vw; 
}

.pagina2{
    display: flex;
    background-color: #161616;
    padding: 10%;
    border-radius: 10px;
}

.sobre-mim{
    display: flex;
    text-align: left;
    color :  rgba(247, 245, 247, 0.8);
    justify-content: space-around;
    margin: 0 auto;    
}
.sobre-mim p{
    color:  #fcfc;
    letter-spacing: 1px;
    font-size:  20px;
    font-weight: bolder;
    margin-top:  45px;
    text-align: justify;
}
.sobre-mim h4{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.pagina3{
    background-color:  #2b2929;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.fundo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}
.card{
    background-color: rgba(255, 255, 255, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 10px 10px 10px rgba(46, 45, 45, 0.753);
}
.card img{
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}
.card a{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.89);
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.822);
}
.card a:hover{
    background-color: transparent;
    color: red;
    transition: all 0.2s ease-in-out;
}
 .pagina4{
    background-color: #161616;
    text-align: center;
    border-radius: 10px;
    padding: 10%;
    text-align: center;
 }
 .pagina4 h2{
    padding: 10px;
    font-size: 3vw;
    letter-spacing: 1px;
 }
 .pagina4 p{
    color:#fcfc;
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
 }
.pagina5{
    background-color: #2b2929;
    padding-top :  30px;
    border-radius: 10px;
    height: 300px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.pagina5 img{
    height: 70px;
    margin: 10px;
    border-radius: 10px;
}
.pagina5 img:hover{
    border: 2px solid white;
}
.pagina5 p{
    color:  #fcfc;
    line-height: 20px;
    font-size:  20px;
    font-weight: bolder;
    margin: 30px; 
}
footer{
    background-color: #ffffff;
    text-align: center;
    font-size: 2vw;
    font-weight: bolder;
}

/*
body{
justify-content:space-between,  space-evenly, space-around; serve para da o maior espaco entre os elementos.

vai da o mesmo espaco entre os elementos.
